$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin xs {
  @media (min-width: map-get($grid-breakpoints, "xs")) {
    @content;
  }
}
@mixin xs {
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    @content;
  }
}
@mixin xs {
  @media (min-width: map-get($grid-breakpoints, "md")) {
    @content;
  }
}
@mixin xs {
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    @content;
  }
}
@mixin xs {
  @media (min-width: map-get($grid-breakpoints, "xl")) {
    @content;
  }
}
@mixin xs {
  @media (min-width: map-get($grid-breakpoints, "xxl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}
