#video-produk {
  margin-top: 10em;

  .thumbnail {
    position: relative;
    .vid-thumb {
      border-radius: 20px;

      width: 480px;
      height: 300px;
      opacity: 0.5;
    }

    .play-btn {
      position: absolute;
      width: auto;
      height: auto;
      top: 100px;
      right: 200px;
      z-index: 999;
    }
  }

  .detail {
    color: $txt-primary;
    padding-left: 100px;

    .top-border {
      @include border-top;
      margin-bottom: 2em;
    }

    h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      /* identical to box height, or 125% */

      letter-spacing: 0.2px;

      /* light-text-color */
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      letter-spacing: 0.2px;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    a {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */

      letter-spacing: 0.2px;
      color: $bg-secondary;
    }
  }
}
